.grid {
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 840px;
  padding: 0 10px;
}

.top {
  border-top: 3px solid $red;

  header {
    align-items: center;
    grid-template-columns: 1fr 1fr;

    @media #{$media-wide} {
      grid-template-columns: 1fr 3fr;
    }
  }

  .grid {
    grid-gap: 0;
  }
}

.logo {
  align-self: start;
  height: 100%;

  span {
    background: $red;
    color: $white;
    display: inline-block;
    font-size: 28px;
    height: 100%;
    text-align: center;
    width: 45px;
  }
}

.expand-menu {
  align-self: start;
  height: 100%;

  @media #{$media-wide} {
    display: none;
  }

  a {
    color: $dark-grey;
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
  }
}

.main-menu {
  display: none;
  grid-column: 1 / -1;

  @media #{$media-wide} {
    display: block;
    float: right;
    grid-column: 2;
  }

  ul {
    margin: 0;
    padding: 0;

    @media #{$media-wide} {
      float: right;
    }

    li {
      list-style: none;
      margin: 0;

      @media #{$media-wide} {
        display: inline-block;
      }

      &:last-child a {
        padding-right: 0;
      }
    }

    a {
      color: $black;
      display: block;
      font-weight: bold;
      padding: 10px;
    }

    .active a,
    a:hover {
      color: $red;
    }

    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }
}

.articles-index h1 {
  font-size: 1.2rem;
  margin: 0;
}

.article-meta {
  font-size: .8rem;
  margin: 1em 0;
}

.article {
  h1 {
    margin-bottom: 0;
  }

  header {
    margin-bottom: 2em;
  }

  .article-body h1 {
    margin-top: 1em;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.mobile-visible {
  display: block;

  li a {
    padding-left: 0;
  }
}

.missing-page {
  margin-top: 1em;
}

.missing-page,
.missing-page p {
  text-align: center;
}

.profile-photo {
  display: block;
  margin: 0 auto;
  height: 250px;

  @media only screen and (min-width: 750px) {
    float: right;
    height: 400px;
    margin-left: 20px;
  }
}