html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}

h6 {
  font-size: .7rem;
}

p {
  margin-bottom: $text-bottom-margin;
  text-align: justify;
}

ul,
ol {
  margin-bottom: $text-bottom-margin;
  padding-left: $text-left-margin;

  ul,
  ol {
    margin-bottom: 0;
    margin-left: $text-left-margin;
  }
}

ul li {
  list-style: disc;
}

ol li {
  list-style: decimal;
}

blockquote {
  border-left: 1px dotted $black;
  font-style: italic;
  margin: 0 $text-left-margin;
  padding-left: $text-left-margin;
}

a {
  color: $red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
