!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.keywords,
                description: current_page.data.description })
  %body
    = partial('top')

    .missing-page
      .grid
        %article
          %img{ src: '/images/404.gif', alt: 'John Travolta GIF'}
          %header
            %h1= current_page.data.title
          = yield
