!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.keywords,
                description: current_page.data.description,
                canonical: current_page.url })
  %body
    = partial('top')

    .page
      .grid
        %article.article
          %header
            %h1= current_article.title
            = partial('article_meta', locals: { article: current_article })
          .article-body
            = yield
