!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.keywords,
                description: current_page.data.description,
                canonical: current_page.url })
  %body
    = partial('top')

    .page
      .grid
        %section
          %header
            %h1= current_page.data.title
          %img.profile-photo{src: '/images/profile_photo.jpg', alt: 'Profile Photo', height: 400}
          = yield
